* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f1f1f1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.chat-container {
    width: 500px;
    height: 650px;
    background: white;

    border-radius: 15px;
    overflow: hidden;

    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);

    display: flex;
    flex-direction: column;
}

.header {
    background: #222;
    color: white;

    padding: 20px;
    text-align: center;

    font-size: 22px;
    font-weight: bold;
}

.chat-box {
    flex: 1;
    padding: 20px;

    overflow-y: auto;
}

.message {
    padding: 12px 15px;
    margin-bottom: 12px;

    border-radius: 10px;

    max-width: 80%;
}

.ai {
    background: #eeeeee;
    color: #222;
}

.user {
    background: #222;
    color: white;

    margin-left: auto;
}

.input-area {
    display: flex;

    padding: 15px;
    border-top: 1px solid #ddd;
}

input {
    flex: 1;

    padding: 12px;

    border: 1px solid #ccc;
    border-radius: 8px;

    font-size: 16px;
}

button {
    margin-left: 10px;

    padding: 12px 20px;

    border: none;
    border-radius: 8px;

    background: #222;
    color: white;

    cursor: pointer;
}

button:hover {
    background: #444;
}